[Unit]
Description=Automatic extended netcfg wireless connection
Before=network.target
Wants=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/bin/netcfg-wpa_actiond-ng --inner runfile %i
ExecStop=/usr/bin/netcfg-wpa_actiond-ng --inner halt %i
ExecReload=/usr/bin/netcfg-wpa_actiond-ng --inner reconfigure %i
Type=forking
PIDFile=/run/wpa_actiond_%i.pid

[Install]
WantedBy=multi-user.target
