[Unit]
Description=Suspend netctl-auto-ng upon sleep
PartOf=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes

# We have to recursively invoke system{d,ctl} via our wrapper - no other way...
ExecStart=/usr/bin/netctl-auto-ng suspend
ExecStop=/usr/bin/netctl-auto-ng resume

KillMode=none
