[Unit]
Description=Extended automatic wireless connection with netctl
Before=network.target
Wants=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/bin/netctl-wpa_actiond-ng --inner bootup %i
ExecStop=/usr/bin/netctl-wpa_actiond-ng --inner halt %i
ExecReload=/usr/bin/netctl-wpa_actiond-ng --inner reconfigure %i
Type=forking
PIDFile=/run/wpa_actiond_%i.pid
KillMode=none

[Install]
WantedBy=multi-user.target
