[Unit]
Description=Extended automatic wireless connection with netctl
Before=network.target
Wants=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/lib/network/network bootup %i
ExecStop=/usr/lib/network/network halt %i
ExecReload=/usr/lib/network/network reconfigure %i
Type=forking
PIDFile=/run/wpa_actiond_%i.pid
KillMode=none

[Install]
WantedBy=multi-user.target
